@model ProfileProject.Models.Experience

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Experience</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceOrganization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceOrganization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceResponsibilities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceResponsibilities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ExperienceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
