@model IEnumerable<ProfileProject.Models.Experience>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceOrganization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienceResponsibilities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceOrganization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceResponsibilities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExperienceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExperienceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExperienceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
