@model ProfileProject.Models.Education

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Education</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationDegree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationDegree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationInstitution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationInstitution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EducationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
