@model IEnumerable<ProfileProject.Models.Education>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EducationDegree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationInstitution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EducationDegree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationInstitution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EducationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EducationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EducationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
